p{
  font-family: arial;
  font-size: 16px;
  color: rgb(121, 108, 108);
  margin-top: 0px;
  margin-bottom: 6px;
}

.search-box{
  border-radius: 3px;
  border-style: solid;
  margin-bottom: 18px;
  border-width: 1px;
}

.agree{
background-color: rgb(34, 93, 255);
color: white;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 25px;
border-radius: 25px;
width: 400px;
text-align: center;}